@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
}

:root {
    background-color: black;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 70%;
    text-align: center;
}

.container{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.desktop-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    aspect-ratio: 4/3;
    background-image: url('./assets/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-aspect-ratio: 4/3) {
    .desktop-wrapper {
        width: auto;
        height: 100vh;
    }
}

@media (max-aspect-ratio: 4/3) {
    .desktop-wrapper {
        width: 100vw;
        height: auto;
    }
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.animate-slideUp {
    animation: slideUp 0.2s ease-out forwards;
}

.animate-slideDown {
    animation: slideDown 0.2s ease-out forwards;
}